.tag {
  min-width: 115px;
  height: 25px;

  padding: 3px 30px;
  margin-right: 10px;

  border-radius: 10px;

  background-color: var(--orange);

  font-size: 0.875rem;
  font-weight: 500;
  color: #fff;
}
