.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  padding-top: 30px;
  margin-bottom: 15px;
  border-radius: 25px;

  background-color: rgb(246, 246, 246);
}

@media screen and (max-width: 768px) {
  .card-list {
    padding-top: 0;
    background-color: transparent;
  }
}
