.card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: 56px 50px;
  border-radius: 25px;

  background-color: rgb(246, 246, 246);
}

@media screen and (max-width: 768px) {
  .card-list {
    padding: 0;
    background-color: transparent;
  }
}
