.card-list {
  --card-list-padding: 56px 50px;
  --card-list-bg-color: var(--light-grey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  padding: var(--card-list-padding, 56px 50px);
  border-radius: 25px;

  background-color: var(--card-list-bg-color);
}

@media screen and (max-width: 768px) {
  .card-list {
    --card-list-padding: 0;
    --card-list-bg-color: transparent;
  }
}
