.accordeon {
  --size-chevron: 2;
  --carre-size: 22px;
  --contenu-font-size: 1.125rem;
  --title-font-size: 1.5rem;

  width: 100%;
  max-width: 1024px;
  border-radius: 10px;
  color: #fff;
}

.accordeon-gris {
  background-color: var(--light-grey);
}

.accordeon-header {
  height: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-left: 20px;
  padding-right: 20px;

  border-radius: 10px;
  background-color: var(--orange);
}

.accordeon-title {
  font-size: var(--title-font-size, 1.5rem);
  font-weight: 500;
  line-height: 2rem;
}

.accordeon-contenu {
  min-height: 140px;

  padding: 20px;
  border-radius: 10px;

  background-color: var(--light-grey);
  color: var(--orange);

  font-size: var(--contenu-font-size, 1.125rem);
  font-weight: 400;
  line-height: 2rem;
}

.icon-chevron {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--size-chevron, 1));
  width: var(--carre-size, 22px);
  height: var(--carre-size, 22px);
  border: 2px solid transparent;
  border-radius: 100px;
}

.icon-chevron::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-right: 2px solid;
  border-color: #fff;

  left: 0px;
  top: calc(50% - 2px);
}

.icon-chevron-up::before {
  transform: rotate(-135deg);
}

.icon-chevron-down::before {
  transform: translateY(-5px) rotate(45deg);
}

@media screen and (max-width: 768px) {
  .accordeon {
    --carre-size: 18px;
    --contenu-font-size: 0.75rem;
    --title-font-size: 0.8125rem;
  }
}
