.error-container {
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: var(--orange);
}

.error-titre {
  font-size: 5rem;
}

.error-logo-404 {
  width: 40vw;
  max-width: 600px;
  height: auto;
}

.error-msg {
  font-size: 2.25rem;
  font-weight: 500;
}

.error-back {
  font-size: 1.125rem;
}
