.etoile {
  min-width: 18px;
  max-width: 36px;
  width: clamp(18px, 2.5vw, 36px);

  min-height: 18px;
  max-width: 36px;
  height: clamp(18px, 2.5vw, 36px);

  margin-left: 2px;
  background-repeat: no-repeat;
  background-size: cover;
  aspect-ratio: 1 / 1;
}
