.card-location {
  --card-location-width: 340px;
  --card-location-margin: 0 0 50px 0;
  --card-location-aspect-ratio: 1 / 1;

  width: var(--card-location-width, 340px);

  margin: var(--card-location-margin, 0 0 50px 0);

  border-radius: 10px;

  background-color: var(--orange);
  color: #fff;

  aspect-ratio: var(--card-location-aspect-ratio, 1 / 1);
}

.card-location:hover {
  cursor: pointer;
}

.card-gradient {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column-reverse;

  padding: 30px;
  border-radius: 10px;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.card-location-titre {
  font-size: 1.125rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .card-location {
    --card-location-width: 100%;
    --card-location-margin: 0 0 20px 0;
    --card-location-aspect-ratio: 63 / 51;
  }
}
