.carousel {
  height: 415px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carousel-btn {
  width: 95px;
  height: 120px;
  background-color: transparent;
}

.carousel-prev {
  background-image: url("/public/assets/img/carousel_gauche.svg");
}

.carousel-next {
  background-image: url("/public/assets/img/carousel_droite.svg");
}

.carousel-prev:hover {
  background-image: url("/public/assets/img/carousel_gauche_orange.svg");
}

.carousel-next:hover {
  background-image: url("/public/assets/img/carousel_droite_orange.svg");
}

.carousel-count {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column-reverse;

  padding-bottom: 20px;

  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
  color: #fff;
}
