.etoile-list {
  --etoile-list-justify-content: flex-end;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: var(--etoile-list-justify-content, flex-end);
  flex-wrap: wrap;
  grid-area: etoiles;
}

@media screen and (max-width: 768px) {
  .etoile-list {
    --etoile-list-justify-content: flex-start;
  }
}
