.etoile-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  flex-wrap: wrap;

  grid-area: etoiles;
}

@media screen and (max-width: 768px) {
  .etoile-list {
    justify-content: start;
  }
}
