.pied {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 200px;

  padding: 20px;
  margin-top: 15px;

  background-color: #000;

  text-align: center;
  color: #fff;
}

.kasa-logo {
  height: 40px;
  width: 125px;
  background-image: url("../../../public/assets/img/logo_pied.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.pied-copy {
  font-size: 1.5rem;
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  .pied {
    margin: 0px;
  }

  .pied-copy {
    font-size: 0.75rem;
  }
}
